<app-header></app-header>
<main class="flex flex-col gap-2">
  <section class="flex justify-center items-center mt-10 ">

  <img Src="./assets/profile.jpeg" class=" object-contain rounded-full" alt="Imagem" width="200" >

</section>

<div class="flex justify-center items-center p-4">
  <div class="text-center">
      <h1 class="text-3xl font-bold">Título</h1>
      <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, velit soluta. Animi molestiae asperiores saepe aliquam aperiam quas, quos similique fuga libero voluptate enim commodi obcaecati suscipit molestias itaque incidunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, velit soluta. Animi molestiae asperiores saepe aliquam aperiam quas, quos similique fuga libero voluptate enim commodi obcaecati suscipit molestias itaque incidunt?Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, velit soluta. Animi molestiae asperiores saepe aliquam aperiam quas, quos similique fuga libero voluptate enim commodi obcaecati suscipit molestias itaque incidunt?</p>
  </div>
</div>
</main>
