<app-header></app-header>

<div class="flex justify-center items-center mt-10 ">
  <img Src="./assets/profile.jpeg" class="w-48 h-48 object-contain rounded-full" alt="Imagem">
</div>


<div class="flex justify-center items-center w-48 h-48">
  <div class="text-center">
      <h1 class="text-3xl font-bold">Título</h1>
      <p class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, velit soluta. Animi molestiae asperiores saepe aliquam aperiam quas, quos similique fuga libero voluptate enim commodi obcaecati suscipit molestias itaque incidunt?</p>
  </div>
</div>
