$primary : #810081;
$primary-light: #bd71bd;
$text-primary: #fff;



mat-toolbar{
  background-color: #000;
  color: $text-primary;
}

th{
  font-size: 1rem;
  padding: 0%;
}


table{
  width: 100%;
}

.loading-spinner{
  padding: 25px;
  background: rgba(0,0,0,0.03);
    display: flex;
    align-items: center;
    justify-content: center;

}
